body {
    background-color: azure;
}

#ticTacToe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e4e4e4;
    width: 400px;
    height: 400px;
}

.square {
    border: 1px solid #e4e4e4;
    width: 125px;
    height: 125px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ticTacToe .square {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}